<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= @world.name %></h1>
        </div>
    </div>
</section>
<br>
<% if @world.user_id == current_user.id %>
    <%= link_to "Edit world", edit_world_path(@world) %> <br>
<% end %>

<div class="columns">
  <div class="column">

        <div>
        <strong>aesthetic:</strong> <%= @world.aesthetic %> <br />
        <strong>description:</strong> <%= @world.description %> <br />
        <strong>big_bad:</strong> <%= @world.big_bad %> <br />
        </div>
        <br>
        <div>
        <strong>Add a <%= link_to "New character", new_world_character_path(@world) %> at this world</strong>
        </div>

        <% unless @characters.blank? %>
            <h3>All characters at <%= @world.name %></h3>
            <div>
            <%= render partial: "characters/list", locals: {characters: @characters} %>
            </div>
        <% else %>
            <h3>There are no characters here yet! Add one by following the link above.</h3>
        <% end %>
    </div>

    
    </div>
</div>