<h1> <% @world.name %> </h1>

<% if @world.user_id == current_user.id %>
    <%= link_to "Edit World", edit_world_path(@world) %> <br>
    <%= link_to 'Destroy', @world.destroy , data: { confirm: 'Are you sure?' } %> <br>

<% end %>


<div class="columns">
  <div class="column">

        <div>
        <strong>Aesthetic:</strong> <%= @world.aesthetic %> <br />
        <strong>Big Bad:</strong> <%= @world.big_bad %> <br />
        <strong>Description:</strong> <%= @world.description %> <br />
        </div>
        <br>
        <div>
        <strong>Add a <%= link_to "New Character", new_world_character_path(@world) %> to this world.</strong>
        </div>

        <% unless @characterss.empty? %>
            <h3>All Characters at <%= @world.name %></h3>
            <div>
            <%= render partial: "character/list" %>
            </div>
        <% else %>
            <h3>There are no characters here yet! Add one by following the link above.</h3>
        <% end %>
    </div>




 