<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= @world.name %></h1>
        </div>
    </div>
</section>
<br>
<% if @world.user_id == current_user.id %>
    <%= link_to "Edit world", edit_world_path(@world) %> <br>
<% end %>

<div class="columns">
  <div class="column">

        <div>
        <strong>aesthetic:</strong> <%= @world.aesthetic %> <br />
        <strong>description:</strong> <%= @world.description %> <br />
        <strong>big_bad:</strong> <%= @world.big_bad %> <br />
        </div>
        <br>
       
       <h1> all characters at <%= @world.name%> </h1>
     
    
    <div>
    <%= render partial: "characters/list", locals: {characters: @characters} %>
    </div>

</div>
  
    
    </div>
</div>